body.theme-1 {
    background: #ddd; 

    .app { margin: 2em auto; max-width: 60em; background: white; box-shadow: 0 0 1em rgba(0,0,0,0.1); padding: 2em; }
    
    code { padding: 0.25em 0.5em; background: rgba(0,0,0,0.1); }
    
    .page-link-block { background: rgba(0,0,0,0.1); display: block; padding: 1em; margin-bottom: 1em; }
}